<nav class="navbar navbar-dark float-end align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0">
    <div class="container-fluid d-flex flex-column p-0"><a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
            <div class="sidebar-brand-icon rotate-n-15"><i class="fas fa-laugh-wink"></i></div>
            <div class="sidebar-brand-text mx-3"><span>Elyahia</span></div>
        </a>
        <hr class="sidebar-divider my-0">
        <ul class="navbar-nav text-light" id="accordionSidebar">
            <li class="nav-item">
                <a class="nav-link active" href="updatePrice.php"><i class="fas fa-table"></i><span>تحديث اسعار</span></a>
            </li>
        </ul>
        <!-- <ul class="navbar-nav text-light" id="accordionSidebar">
            <li class="nav-item">
                <a class="nav-link active" href="Main.php"><i class="fas fa-table"></i><span>Main page</span></a>
                <a class="nav-link " href="index.php"><i class="fas fa-tachometer-alt"></i><span>unchanged</span></a>
            </li>
            <li class="nav-item dropdown show"><a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#">product</a>
                <div class="dropdown-menu " data-bs-popper="none"><a class="dropdown-item" href="AddProduct.php">Add Product</a><a class="dropdown-item" href="EditProduct.php">Edit product and search</a><a class="dropdown-item" href="#">Third Item</a></div>
            </li>
        </li>
        <li class="nav-item dropdown show"><a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown">reciepts</a>
            <div class="dropdown-menu " data-bs-popper="none"><a class="dropdown-item" href="EditReceipt.php">First Item</a><a class="dropdown-item" href="#">Second Item</a><a class="dropdown-item" href="#">Third Item</a></div>
        </li>
        <li class="nav-item dropdown show"><a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#">cusotmers</a>
            <div class="dropdown-menu " data-bs-popper="none"><a class="dropdown-item" href="AddCustomer.php">Add customer</a><a class="dropdown-item" href="EditCustomer.php">Edit customer&nbsp;</a><a class="dropdown-item" href="#">no</a></div>
        </li>
        </ul>
        <div class="text-center d-none d-md-inline"><button class="btn rounded-circle border-0" id="sidebarToggle" type="button"></button></div> -->
    </div>
</nav>
<!-- <li class="nav-item">
    <a class="nav-link active" href="AddProduct.php"><i class="fas fa-user"></i>Add product<span></span></a>
</li>
<li class="nav-item"></li>
<li class="nav-item">
    <a class="nav-link active" href="EditProduct.php"><i class="fas fa-edit"></i><span>Edit product</span></a>
    <a class="nav-link " href="login.php"><i class="far fa-user-circle"></i><span>Login</span></a></li>
<li class="nav-item"></li> -->